@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<img src="~/Files/20170508_131437.jpg" alt="Smiley face" height="200" width="220">
<h4>phone +38050-486-89-54</h4>
<h4>email pcheremis@gmail.com</h4>
<h4>skype pcheremis@gmail.com</h4>